{% extends "templates/base.html" %}
{% load static %}

    {% block meta %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- Bootstrap 4.5 CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<!-- Style CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap" rel="stylesheet">
    <title>story-1</title>
    {% endblock meta %}


    {% block content %}

	<!-- Top Bar -->
    <div class="top-bar">
        <div class="container">
            <div class="col-12 text-right">
                <!--phone number-->
                <p> <a href="#">A Desperate Work</a></p>
            </div>
        </div>
    </div>

<!-- Main Page Heading -->
    <div id="about" class="col-12 text-center mt-5">
        <h1 class="text-dark pt-4">Salutations!</h1>
        <div id="profpic">
            <img class="w-100 rounded-circle" src="{% static 'home/img/face.jpg' %}">
            <p class="lead">M. Krishertanto Adityaputro</p>
        </div>
        <div class="border-top border-primary w-25 mx-auto my-3"> </div>
        <p>Profesional Slacker</p>
        <div class="container">
                <div class="row my-4">
                    <div class="col-md-12 my-4">
                        <p class="lead">
                            The name's Adit, or MK Adit if you happened to see a person with the same name as me. A student majoring Computers Science (batch 2019, Maung) at Universitas Indonesia with 1906302485 as my number </p>
                        <p class="lead">
                            Tasks at hand? Learning a little bit of Web Development, Linux Operating System, Data Structure & Algorithm, and the optimum way to play Tetris.
                        </p>
                        <p class="lead">
                            If you want to play a game of Tetris then hit me up, provided I'm not distracted with novels or college works.
                        </p>
				</div>
			</div>
		</div>
	</div>
<div id="stuff" class="col-12 text-center mt-5">
    <div class="container">
        <h1 class="text-center">Education History </h1>
        <div class="row my-5">
            <div class="col-md-3 my-4">
                <h2 class="text-center">Primary School</h2>
                <p class="lead text-center">SD Binakheir School</p>
                <p class="text-center"> 2007-2013</p>
            </div>
            <div class="col-md-3 my-4">
                <h2 class="text-center">Junior Highschool</h2>
                <p class="lead text-center">SMP Cakra Buana</p>
                <p class="text-center"> 2013-2016 </p>
            </div>
            <div class="col-md-3 my-4">
                <h2 class="text-center">Highschool</h2>
                <p class="lead text-center">SMAN 1 Depok</p>
                <p class="text-center"> 2013-2019 </p>
            </div>
            <div class="col-md-3 my-4">
                <h2 class="text-center">Bachelor of Computer Science</h2>
                <p class="lead text-center">Universitas Indonesia</p>
                <p class="text-center"> 2019-2023 </p>
            </div>
        </div>
    </div>
</div>
    {% endblock content %}
