{% extends "templates/base.html" %}
{% load static %}

    {% block meta %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- Bootstrap 4.5 CSS -->
    <link rel="stylesheet" href="{% static '/home2/css/bootstrap.min.css' %}">
	<!-- Style CSS -->
    <link rel="stylesheet" href="{% static '/home2/css/style.css' %}">
	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Sora:300,400,500,600,700&display=swap" rel="stylesheet">
    <title>story-3</title>
    {% endblock meta %}



    {% block navlist %}
      <a href="/home2" class="navbar-item">About</a>
      <a href="/home2" class="navbar-item">Education</a>
      <a href="/home2" class="navbar-item">Skills</a>
      <a href="game" class="navbar-item">Games Played</a>
    {% endblock navlist %}

        <!-- Page Content -->
{% block content %}
    <div class="wrapper">
            <div id="page-content-wrapper">
                <div id="stuff0" class="col-12 text-center">
                    <br></br>
                    <div class="container">
                        <h1 class="text-center" id="games">Games Played</h1>
                        <div class="section" id="box0">
                        </div>
                    </div>
                    <br></br>
                </div>

                <div id="stuff" class="col-12 text-center">
                    <br></br>
                    <div class="container">
                        <div class="card-deck">
                            <div class="card" id="box3">
                                <div class="card-body">
                                    <p class="card-text text-center"> Below are a few games that I played zealously until now </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br></br>
                </div>


                <div id="stuff2" class="col-12 text-center">
                    <br></br>
                    <div class="container">
                        <div class="card-deck">
                            <div class="card" id="box2">
                                <img class="card-img" src="{% static '/home2/img/ff14arr.png' %}">
                            </div>
                            <div class="card" id="box2">
                                <img class="card-img" src="{% static '/home2/img/arknights.png' %}">
                            </div>
                            <div class="card" id="box2">
                                <img class="card-img" src="{% static '/home2/img/gi.png' %}">
                            </div>
                            <div class="card" id="box2">
                                <img class="card-img" src="{% static '/home2/img/tetris.png' %}">
                            </div>
                        </div>
                    </div>
                    <br></br>
                </div>

            </div>
    </div>   
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
{% endblock content %}
