{% extends "templates/base.html" %}
{% load static %}

    {% block meta %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- Bootstrap 4.5 CSS -->
    <link rel="stylesheet" href="{% static '/home2/css/bootstrap.min.css' %}">
	<!-- Style CSS -->
    <link rel="stylesheet" href="{% static '/home2/css/style.css' %}">
	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Sora:300,400,500,600,700&display=swap" rel="stylesheet">
    <title>story-3</title>

    {% endblock meta %}

    {% block navlist %}
      <a href="#About" class="navbar-item">About</a>
      <a href="#education" class="navbar-item">Education</a>
      <a href="#skill" class="navbar-item">Skills</a>
      <a href="game" class="navbar-item">Games Played</a>
    {% endblock navlist %}

    {% block content %}
    <div class="wrapper active">
        <!-- Page Content -->
            <div id="page-content-wrapper">
                <div id="stuff0" class="col-12 text-center">
                    <br></br>
                    <div class="container">
                        <h1 class="text-center" id="About">About</h1>
                        <div class="section" id="box0">

                            <div id="profpic">
                                <img class="w-100 rounded-circle" src="{% static 'home/img/face.jpg' %}">
                                <p class="lead">M. Krishertanto Adityaputro</p>
                            </div>
                            <div class="card-body">
                                <p>The name's Adit, or MK Adit if you happened to see a person with the same name as me. A student majoring Computers Science (batch 2019, Maung) at Universitas Indonesia
A real enthusiast on tinkering Linux as well as a trainee in the game of Tetris
If you want to play a game of Tetris then hit me up, provided I'm not distracted with novels or college works</p>
                            </div>
                        </div>
                    </div>
                    <br></br>
                </div>


                <div id="stuff" class="col-12 text-center">
                    <br></br>
                    <div class="container">
                        <h1 class="text-left" id="education">Education History </h1>
                        <div class="card-deck">
                            <div class="card" id="box3">
                                <div class="card-body">
                                    <h2 class="card-title text-center">Primary School</h1>
                                    <p class="card-text lead text-center">SD Binakheir School</p>
                                    <p class="card-text text-center"> 2007-2013</p>
                                </div>
                            </div>
                            <div class="card" id="box3">
                                <div class="card-body">
                                    <h2 class="card-title text-center">Junior Highschool</h1>
                                    <p class="card-text lead text-center">SMP Cakra Buana</p>
                                    <p class="card-text text-center"> 2013-2016 </p>
                                </div>
                            </div>
                            <div class="card" id="box3">
                                <div class="card-body">
                                    <h2 class="card-title text-center">Highschool</h1>
                                    <p class="card-text lead text-center">SMAN 1 Depok</p>
                                    <p class="card-text text-center"> 2013-2019 </p>
                                </div>
                            </div>
                            <div class="card" id="box3">
                                <div class="card-body">
                                    <h2 class="card-title text-center">Bachelor of Computer Science</h1>
                                    <p class="card-text lead text-center">Universitas Indonesia</p>
                                    <p class="card-text text-center"> 2019-2023 </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br></br>
                </div>

                <div id="stuff2" class="col-12 text-center">
                    <br></br>
                    <div class="container">
                        <h1 class="text-right" id="skill">Skills</h1>
                        <div class="card-deck">
                            <div class="card" id="box2">
                                <img class="card-img" src="{% static '/home2/img/linux.png' %}">
                            </div>
                            <div class="card" id="box2">
                                <img class="card-img" src="{% static '/home2/img/html.png' %}">
                            </div>
                            <div class="card" id="box2">
                                <img class="card-img" src="{% static '/home2/img/python.png' %}">
                            </div>
                            <div class="card" id="box2">
                                <img class="card-img" src="{% static '/home2/img/tetris.png' %}">
                            </div>
                        </div>
                    </div>
                    <br></br>
                </div>

            </div>
    </div>   
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    {% endblock content %}