{% extends "templates/base.html" %}
{% load static %}


{% block meta %}
<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<title>story-9</title>
{% endblock meta %}

{% block content %}
{% if user.is_authenticated %}
<h1>Selamat datang {{ user.username }}</h1>
<a class="button is-success" href="/home7/logout">
    <p>Get out of here</p>
</a>
{% else %}
<h1>Create Account</h1>
<form method="POST" class="form-group">
    {% csrf_token %}
    <table class="table">

        {{ form.as_table }}
    </table>
    <button type="submit" class="button is-success">Register</button>
    <p>Have an account? Go <a href="/home7/login">here</a></p>
</form>
{% endif %}
{% endblock %}
