:root {
	--main-bg: #ffffff;
	--seccond-bg: #f9f9ff;
	--gradien: linear-gradient(
		90deg,
		rgba(132, 144, 255, 1) 0%,
		rgba(98, 189, 252, 1) 100%
	);
	--margin: calc(50vw - 442px);
}

body {
	font-family: 'Poppins', sans-serif;
	margin: 0px;
	font-size: 14px;
}

h1 {
	font-size: 60px;
	font-weight: 500;
}

h5 {
	font-size: 18px;
	font-weight: 500;
}

#navbar {
	height: 70px;
	background: var(--main-bg);
	margin: 0px var(--margin);
}

#navbar a {
	text-decoration: none;
	height: fit-content;
	color: #000;
	margin: auto;
}

.footer {
	height: 100px;
	background: #04091e;
}

.content {
	height: calc(100% - 200px);
	margin: 0px var(--margin);
	padding: 100px 0;
}

.align-center {
	text-align: center;
}

.grid {
	display: grid;
	column-gap: 2em;
	row-gap: 5em;
	grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.nav-grid {
	display: grid;
	justify-items: center;
	grid-template-columns: repeat(6, 1fr);
}

.panel {
	display: flex;
	justify-content: flex-end;
	padding: 1em 2em;
	margin-top: 10px;
	background: var(--gradien);
}

.panel a {
	text-decoration: none;
	color: black;
}

.accordion_header {
	margin-right: auto;
}

.accordion_content {
	overflow: hidden;
	display: none;
}

.accordion_up,
.accordion_down {
	border: 1px solid white;
	padding: 0 0.5em;
	margin: 0 1em;
}
.show {
	box-sizing: border-box;
	width: 100%;
	margin: auto;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
}

.space {
	padding-bottom: 100px;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-device-width: 768px) {
	:root {
		--margin: 1.5em;
	}
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	:root {
		--margin: 5em;
	}
}

/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
	:root {
		--margin: max(400px, calc(50vw - 550px));
	}
}
