{% extends "templates/base.html" %}
{% load static %}

{% block meta %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Bootstrap 4.5 CSS -->
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<!-- Style CSS -->
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" defer src="{% static 'js/frozen.js' %}"></script>
<title>story-8</title>
{% endblock meta %}


{% block content %}
<h1>Find your book</h1>

<div>
    <form id="search-form">
        <input type="text" id="search-url">

        <input class="btn" type="submit" value="Submit">
    </form>
    <table id="books" class="table is-bordered">
        <tr>
            <th>Title</th>
            <th>Author</th>
        </tr>
    </table>
</div>
{% endblock content %}
