{% extends "templates/base.html" %}

{% load static %}

{% block meta %}
<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<title>story-9</title>
{% endblock meta %}

{% block content %}
<h1>Login Account</h1>
<form method="post" class="from-group">
    {% csrf_token %}
    <table>
        {{form.as_table}}
    </table>
    <p>Don't have an account? Create one <a href="/home7">here</a></p>
    <button type="submit" class="button is-success">Login</button>
</form>
{% endblock %}
