/*-- Body Reset --*/
body {
    overflow-x: hidden;
    font-family: 'Sora', sans-serif;
    color: #616971;

}

#about {
    background-color: #f3f3f3;
}
#profpic img{
    max-width:20rem;
}

.lead p{
    text-align: center;
}

.bgdark{
    background-color:#383838;
}
.textlight{
    color:#EEE0CB;
}
.card-img{
    object-fit: contain;
}


/*============= SIDEBAR =============*/
 #wrapper {
    /*overflow-x: hidden;*/
    display: flex;
    width: 100%;
 }

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
  text-align: center;
  position: fixed;
  z-index: 1;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

/*============= NAVBAR =============*/
.navbar{
    background-color:#383838;
    color: #eee0cb;
}

.navbar a{
    color: #eee0cb;
}
.navbar a:hover{
    color: #eee0cb;
}

.navbar-dropdown{
    background-color: #383838;
}

.navbar-item{
    background-color: #383838;
    color: #383838;
}


/*============= TOP BAR HEADER =============*/
.top-bar{
    background: #56577c;
    height: 2.8rem;
    padding: .5rem 0;
}

.top-bar a{
color:white;
text-decoration: none;
font-size: 1.1rem;
}

/*============= CONTENT =============*/
#stuff0{
    background-color:#9C3848;
    color:#eee0cb;
}
#stuff0 h1{
    color: #EEE0CB;
}
#box0{
    background-color: #9C3848;
}
#stuff{
    background-color:#EEE0CB;
    color: #383838;
    flex-wrap: wrap;
}

#stuff h1{
    color:#9C3848;
}
#box3{
    background-color: rgba(78, 166, 153, 0.6);
}
#stuff2{
    background-color:rgba(86, 142, 163, 0.8);
    color: #383838;
    flex-wrap: wrap;
}

#box2{
    background-color:rgba(86, 142, 163, 0.8);
}


/*============= FOOTER =============*/

.footer{
    background-color: rgba(56, 56, 56, 0.9);
}
footer {
    background-color: rgba(56, 56, 56, 0.9);
    padding: 1rem 2rem 3rem;
    color:#EEE0CB;
}

footer img{
    height: 3.5rem;
    margin: 1.5rem auto;
}

footer p, footer a,
.socket a{
    color:#EEE0CB;
    text-decoration:none;
}

ul.social {
    list-style-type: none;
    display: flex;
    max-width: 16rem;
    margin: 0 auto;
    padding: 0
}

ul.social a{
    color: #4EA699;
}
ul.social a:hover{
    color:rgba(78, 166, 153, 0.6);
}

ul.social li{
    margin: 0 auto;
}

.fa{
    font-size:2.5rem;
}

/*============= MEDIA QUERIES =============*/

/* Devices under 1199px (xl) */
@media (max-width: 1199.98px) {

    .carousel-caption h1 {
        font-size: 2.8rem;
    }

    .carousel-caption h3 {
        font-size: 1.8rem;
    }

}
/* Devices under 992 (md) */
@media (max-width: 1118.98px) {
    .carousel-caption h1 {
        font-size: 2.5rem;
    }

    .carousel-caption h3 {
        font-size: 1.5rem;
    }
    .btn-lg {
        font-size: .90rem;
    }

}

@media (min-width: 1600.98px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}

/*-- Bootstrap Mobile Gutter Fix --*/
.row, .container-fluid {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

/*-- Fixed Background Image --*/
.fixed-background {
  position: relative;
  width: 100%;
  z-index: 1000!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -999 !important;
}
.fixed {
  z-index: -999!important;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}

