{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/img/tomb.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block meta %}
    {% endblock meta %}
    <script>
        document.addEventListener('DOMContentLoaded', () => {

            // Get all "navbar-burger" elements
            const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

            // Check if there are any navbar burgers
            if ($navbarBurgers.length > 0) {

                // Add a click event on each of them
                $navbarBurgers.forEach(el => {
                    el.addEventListener('click', () => {

                        // Get the target from the "data-target" attribute
                        const target = el.dataset.target;
                        const $target = document.getElementById(target);

                        // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                        el.classList.toggle('is-active');
                        $target.classList.toggle('is-active');

                    });
                });
            }

        });
    </script>
</head>

<body class="has-navbar-fixed-top">
    <!-- Navbar -->
    <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
        {% block navbrand %}
        {% endblock navbrand %}
        <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
        <div class="navbar-menu" id="navMenu">
            <div class="navbar-start">
                {% block navlist %}
                {% endblock navlist %}
            </div>
            <div class="navbar-end">
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">Story</a>
                    <div class="navbar-dropdown">
                        <a href="/" class="navbar-item"> Story 1 </a>
                        <a href="/home2" class="navbar-item"> Story 3 </a>
                        <a href="/home3" class="navbar-item"> Story 5 </a>
                        <a href="/home4" class="navbar-item"> Story 6 </a>
                        <a href="/home5" class="navbar-item"> Story 7 </a>
                        <a href="/home6" class="navbar-item"> Story 8 </a>
                        <a href="/home7" class="navbar-item"> Story 9 </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    {% block content %}
    {% endblock content %}

    <!-- Footer -->
    <footer id="footer" class="footer">
        <div class="container">
            <p class="has-text-centered">Want to chat or better play Tetris with me? Hit me up on these platforms!</p>
            <ul class="social pt-3">
                <li><a href="https://www.linkedin.com/in/mk-aditya-07146a197/" target="_blank"><i
                            class="fa fa-linkedin"></i></a></li>
                <li><a href="https://github.com/mkadit" target="_blank"><i class="fa fa-github"></i></a></li>
                <li><a href="https://gitlab.com/mkadit" target="_blank"><i class="fa fa-gitlab"></i></a></li>
                <li><a href="https://www.instagram.com/aditmk/" target="_blank"><i class="fa fa-instagram"></i></a></li>
            </ul>
        </div>
    </footer>
</body>

</html>
