{% extends "templates/base.html" %}

{% load static %}


{% block meta %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Sora:300,400,500,600,700&display=swap" rel="stylesheet">
<title>Story-5</title>
{% endblock meta %}

    {% block navlist %}
      <a href="/home3/" class="navbar-item">Create Something</a>
      <a href="/home3/table" class="navbar-item">List</a>
{% endblock navlist %}


{% block content %}
        <label class="label">Course Name</label>
        <div class="control py-3">{{ pass_name.matkul }}</div>
        <label class="label">Lecturer's Name</label>
        <div class="control py-3">{{ pass_name.dosen }}</div>
        <label class="label">Credit Score</label>
        <div class="control py-3">{{ pass_name.sks }}</div>
        <label class="label">Description</label>
        <div class="control py-3">{{ pass_name.description }}</div>
        <label class="label">Term</label>
        <div class="control my-3">{{ pass_name.semester_year }}</div>
        <label class="label">Course Room</label>
        <div class="control py-3">{{ pass_name.kelas }}</div>
        <a  href = "/home3/table">
            <div><input class="button is-success" value="Return" /></div>
        </a>
{% endblock content %}
