{% extends "templates/base.html" %}

{% load static %}


{% block meta %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Sora:300,400,500,600,700&display=swap" rel="stylesheet">
<title>Story-5</title>
{% endblock meta %}

    {% block navlist %}
      <a href="/home3/" class="navbar-item">Create Something</a>
      <a href="/home3/table" class="navbar-item">List</a>
    {% endblock navlist %}

{% block content %}
<section class="section">
    <div class="container">
    <div class="table-container">
        <table class="table is-fullwidth">
            <thead>
                    <tr>
                    <td>Matkul</td>
                    <td>Dosen</td>
                    <td>SKS</td>
                    <td>Deskripsi</td>
                    <td>Semester</td>
                    <td>Kelas</td>

                    </tr>
            </thead>
            {% for i in jadwal %}
            <tbody>
                <tr>
                    <td>{{i.matkul}}</td>
                    <td>{{i.dosen}}</td>
                    <td>{{i.sks}}</td>
                    <td>{{i.description}}</td>
                    <td>{{i.semester_year}}</td>
                    <td>{{i.kelas}}</td>
                    <td>
                        <a  href = "{% url 'home3:hapus' pk=i.pk %}">
                            <div><input class="button is-danger" value="Delete" /></div>
                        </a>
                    </td>
                    <td>
                        <a  href = "{% url 'home3:detail' pk=i.pk %}">
                            <div><input class="button is-success" value="Detail" /></div>
                        </a>
                    </td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
    </div>
    </div>

</section>
{% endblock content %}
