/*-- Body Reset --*/
body {
	overflow-x: hidden;
	font-family: 'Montserrat', sans-serif;
	color: #616971;
}

#about {
	background-color: #f3f3f3;
}
#profpic img {
	max-width: 20rem;
}

.lead p {
	text-align: center;
}

/*============= TOP BAR HEADER =============*/
.top-bar {
	background: #56577c;
	height: 2.8rem;
	padding: 0.5rem 0;
}

.top-bar a {
	color: white;
	text-decoration: none;
	font-size: 1.1rem;
}

/*============= FOOTER =============*/

.footer {
	background-color: #383838;
}

footer {
	background-color: #383838;
	padding: 1rem 2rem 3rem;
}

footer img {
	height: 3.5rem;
	margin: 1.5rem auto;
}

footer p,
footer a,
.socket a {
	color: white;
	text-decoration: none;
}

ul.social {
	list-style-type: none;
	display: flex;
	max-width: 16rem;
	margin: 0 auto;
	padding: 0;
}

ul.social li {
	margin: 0 auto;
}

.fa {
	font-size: 2.5rem;
}

/*============= MEDIA QUERIES =============*/

/* Devices under 1199px (xl) */
@media (max-width: 1199.98px) {
	.carousel-caption h1 {
		font-size: 2.8rem;
	}

	.carousel-caption h3 {
		font-size: 1.8rem;
	}
}
/* Devices under 992 (md) */
@media (max-width: 991.98px) {
	.carousel-caption h1 {
		font-size: 2.5rem;
	}

	.carousel-caption h3 {
		font-size: 1.5rem;
	}
	.btn-lg {
		font-size: 0.9rem;
	}
}

/*-- Bootstrap Mobile Gutter Fix --*/
.row,
.container-fluid {
	margin-left: 0px !important;
	margin-right: 0px !important;
}

/*-- Fixed Background Image --*/
.fixed-background {
	position: relative;
	width: 100%;
	z-index: 1000 !important;
}
.fixed-wrap {
	clip: rect(0, auto, auto, 0);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -999 !important;
}
.fixed {
	z-index: -999 !important;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center center;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	will-change: transform;
}

h1 {
	font-size: 60px;
	font-weight: 500;
}

h5 {
	font-size: 18px;
	font-weight: 500;
}

.panel {
	display: flex;
	justify-content: flex-end;
	padding: 1em 2em;
	margin-top: 10px;
	background: var(--gradien);
}

.panel a {
	text-decoration: none;
	color: black;
}

.accordion_header {
	margin-right: auto;
}

.accordion_content {
	overflow: hidden;
	display: none;
}

.accordion_up,
.accordion_down {
	border: 1px solid white;
	padding: 0 0.5em;
	margin: 0 1em;
}
.show {
	box-sizing: border-box;
	width: 100%;
	margin: auto;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
}

.space {
	padding-bottom: 100px;
}
