{% extends "templates/base.html" %}

{% load static %}


{% block meta %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Sora:300,400,500,600,700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<title>Story-6</title>
{% endblock meta %}

{% block navlist %}
{% endblock navlist %}

{% block content %}

<section class="section">
    <div class="container">
        <div class="field">
            <p class="title">Masukkan Kegiatan Baru</p>
            <form action="" method="POST">
                {{activity_form}}
                {% csrf_token %}
                <input type="submit" value="Tambah Kegiatan">
            </form>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        {% for i in data %}
        <div class="column">
            <div class="card">
                <div class="card-header">
                    <p class="card-header-title is-centered">{{i.0.activity_name}}</p>
                </div>
                <div class="card-content">
                    <ul class="menu-list">
                        <p class="title card-header-content">Peserta: </p>
                        {% for j in i.1 %}
                        <li>{{j.participant_name}}</li>
                        {% endfor %}
                    </ul>
                    <button class="button is-save" data-toggle="modal" data-target="#modal"
                        onclick="tambahPeserta('{{i.0.activity_name}}', '{{i.0.id}}')">Tambahkan Peserta</button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

<div class="modal" id="modal">
    <div class="modal-content">
        <div class="modal-card">
            <form action="" method="POST">
                <header class="modal-card-head">
                    <p class="modal-card-title"><span id="namaKegiatan"></span></p>
                    <button class="delete" aria-label="close"></button>
                </header>
                <section class="modal-card-body">
                    <span id="namaKegiatan"></span>
                    {% csrf_token %}
                    <input id="idKegiatan" type="hidden" name="id_activity">
                    {{participant_form}}
                </section>
                <footer class="modal-card-foot">
                    <button class="button is-success" type="submit">Tambah Peserta</button>
                    <button class="button" type="button" data-dismiss="modal">Cancel</button>
                </footer>
            </form>
        </div>

    </div>
</div>

<script>
    function tambahPeserta(namaKegiatan, idKegiatan) {
        document.getElementById('namaKegiatan').innerHTML = namaKegiatan;
        document.getElementById('idKegiatan').value = idKegiatan;
    }
</script>

</script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>

{% endblock content %}
